@model LinksModel

@{
    ViewData["Title"] = "Youtube";
}

@*<body onload='carregarLinkUrl()'>*@
<body>
	<br />

	<form method="post" asp-controller="Youtube" asp-action="GerarLink">
		<input type="text" id="input" name="texto" onfocus="this.select()">
		<button id="okButton" type="submit">Ir</button>
	</form>

	<br />
	<br />

	@if (Model.YoutubeImageLinks != null) {

		if (Model.YoutubeImageLinks.Count == 1)
		{
			<iframe style="display:block" id="youtubeFrame" src="@Model.YoutubeImageLinks.ElementAt(0).Value" allowfullscreen allow="autoplay"></iframe>
		}

		else
		{
			foreach (var linkYoutube in Model.YoutubeImageLinks)
			{
				<a href="@linkYoutube.Value" target="@linkYoutube.Value.Replace("https://www.youtube.com/embed/", "")">
					<img class="rounded" src="@linkYoutube.Key" />
				</a>
				<iframe id="@linkYoutube.Value.Replace("https://www.youtube.com/embed/", "")" name="@linkYoutube.Value.Replace("https://www.youtube.com/embed/", "")"></iframe>
				@*<iframe src="@linkYoutube" allowfullscreen ></iframe>*@
			}
		}
	}

	else
	{
		<iframe style="display:none" id="youtubeFrame" src="" allowfullscreen allow="autoplay"></iframe>
	}

	<br>

</body>