@model LinksModel

@{
	string[] acidentes = { "5+", "6", "7", "7+", "9", "11" };
}

<style>
	input:focus {
		background: #92a8d1;
	}

	.botao {
		border: none;
		color: white;
		/*padding: 10px 20px;*/
		width: 60px;
		height: 35px;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 10px 2px;
		cursor: pointer;
		border-radius: 8px;
		/*box-shadow: 0px 4px 0px 0px #696969;*/
		transition: background-color 0.1s, box-shadow 0.1s;
	}

	.botao.parar{
		background-color: #922B21;
		box-shadow: 0px 4px 0px 0px #7B241C;
	}

			.botao.parar:active {
				background-color: #7B241C;
				box-shadow: 0px 4px 0px 0px #641E16;
				transform: translateY(4px);
			}

		.botao.azul {
			background-color: #3498DB;
			box-shadow: 0px 4px 0px 0px #2874A6;
		}

			.botao.azul.pressionado {
				background-color: #2874A6;
				box-shadow: 0px 2px 0px 0px #1B4F72;
				transform: translateY(4px);
			}

		.botao.roxo {
			background-color: #8E44AD;
			box-shadow: 0px 4px 0px 0px #76448A;
		}

			.botao.roxo.pressionado {
				background-color: #76448A;
				box-shadow: 0px 2px 0px 0px #4A235A;
				transform: translateY(4px);
			}

		.botao.vermelho {
			background-color: #E74C3C;
			box-shadow: 0px 4px 0px 0px #B03A2E;
		}

			.botao.vermelho.pressionado {
				background-color: #B03A2E;
				box-shadow: 0px 2px 0px 0px #78281F;
				transform: translateY(4px);
			}

		.botao.rosa {
			background-color: #D15591;
			box-shadow: 0px 4px 0px 0px #A92D69;
		}

			.botao.rosa.pressionado {
				background-color: #A92D69;
				box-shadow: 0px 2px 0px 0px #8B0F4B;
				transform: translateY(4px);
			}

		.botao.amarelo {
			background-color: #F1C40F;
			box-shadow: 0px 4px 0px 0px #B7950B;
		}

			.botao.amarelo.pressionado {
				background-color: #B7950B;
				box-shadow: 0px 2px 0px 0px #7D6608;
				transform: translateY(4px);
			}

		.botao.marrom {
			background-color: #F39C12;
			box-shadow: 0px 4px 0px 0px #B9770E;
		}

			.botao.marrom.pressionado {
				background-color: #B9770E;
				box-shadow: 0px 2px 0px 0px #7E5109;
				transform: translateY(4px);
			}

		.botao.cinza {
			background-color: #BDC3C7;
			box-shadow: 0px 4px 0px 0px #909497;
		}

			.botao.cinza.pressionado {
				background-color: #909497;
				box-shadow: 0px 2px 0px 0px #626567;
				transform: translateY(4px);
			}

	.mt-3 {
		width: 80px;
		text-align-last: center;
	}

	table {
		margin: 0 auto;
	}

	table, th, td {
		border: 10px solid transparent;
	}
</style>

<div class="container">
	@*https://media.istockphoto.com/id/1072152878/vector/organ-icon-with-long-shadow.jpg?s=170667a&w=0&k=20&c=A8p43QxO8SYq-wRB6CH_wdT3Pblwob6YsuoOaR79wXI=*@

	

	@if (Model.AcordesLinks != null)
	{
		<div class="container mt-3">
			<label>Tom:</label>
			<select class="form-control" id="tomSelect" onchange="mudarTom()">
				<option value="C">C</option>
				<option value="D">D</option>
				<option value="E">E</option>
				<option value="F">F</option>
				<option value="G">G</option>
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="Am">Am</option>
				<option value="Bm">Bm</option>
				<option value="Cm">Cm</option>
				<option value="Dm">Dm</option>
				<option value="Em">Em</option>
				<option value="Fm">Fm</option>
				<option value="Gm">Gm</option>
			</select>
		</div>

		<table>
			<tr>
				<td></td>
				<td></td>
				<td>
					<button id="play-pause" data-playing="false" class="botao parar" onclick="playAcorde(-1, this)">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-fill" viewBox="0 0 16 16">
							<path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z" />
						</svg>
					</button>
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" class="botao azul" value="@Model.AcordesLinks[0]" onclick="playAcorde(0, this)"></td>
				<td><input type="button" class="botao vermelho" value="@Model.AcordesLinks[3]" onclick="playAcorde(3, this)"></td>
				<td><input type="button" class="botao amarelo" value="@Model.AcordesLinks[4]" onclick="playAcorde(4, this)"></td>
				<td></td>
			</tr>
			<tr>
				<td>
					@if (@Model.AcordesLinks[6] != "")
					{
						<input type="button" class="botao marrom" value="@Model.AcordesLinks[6]" onclick="playAcorde(6, this)">
					}
				</td>
				<td><input type="button" class="botao roxo" value="@Model.AcordesLinks[5]" onclick="playAcorde(5, this)"></td>
				<td><input type="button" class="botao rosa" value="@Model.AcordesLinks[2]" onclick="playAcorde(2, this)"></td>
				<td><input type="button" class="botao marrom" value="@Model.AcordesLinks[1]" onclick="playAcorde(1, this)"></td>
				<td>
					@if (@Model.AcordesLinks[7] != "")
					{
						<input type="button" class="botao marrom" value="@Model.AcordesLinks[7]" onclick="playAcorde(7, this)">
					}
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" class="botao cinza" value="@acidentes[1]" onclick="playAcorde(this.value, this)"></td>
				<td><input type="button" class="botao cinza" value="@acidentes[2]" onclick="playAcorde(this.value, this)"></td>
				<td><input type="button" class="botao cinza" value="@acidentes[4]" onclick="playAcorde(this.value, this)"></td>
				<td></td>
			</tr>
		</table>
	}
</div>

<script>
	document.getElementById('tomSelect').value = '@Model.Tom';

	var acordes = [ new Audio('@Html.Raw(@Model.LinksDict["orgao" + @Model.AcordesLinks[0]])'),
					new Audio('@Html.Raw(@Model.LinksDict["orgao" + @Model.AcordesLinks[1]])'),
					new Audio('@Html.Raw(@Model.LinksDict["orgao" + @Model.AcordesLinks[2]])'),
					new Audio('@Html.Raw(@Model.LinksDict["orgao" + @Model.AcordesLinks[3]])'),
					new Audio('@Html.Raw(@Model.LinksDict["orgao" + @Model.AcordesLinks[4]])'),
					new Audio('@Html.Raw(@Model.LinksDict["orgao" + @Model.AcordesLinks[5]])')
	];

	var tocando = -1;

	function mudarTom() {
		var tomSelecionado = document.getElementById("tomSelect").value;
		window.location.href = '@Url.Action("Index", "Orgao")?tom=' + tomSelecionado;
	}

	function playAcorde(acorde, botao) {
		pararOsAcordes();
		levantarOsBotoes();

		if (tocando != acorde) {
			if (acorde > -1) {
				botao.classList.toggle('pressionado', true);

				if (tocando != acorde)
					acordes[acorde].play();
			}
			tocando = acorde;
		}
		else
			tocando = -1;
	}

	function setTom(acorde = 'C') {
		document.getElementById('tomSelect').value = acorde;
	}

	function pararOsAcordes() {
		for (let i = 0; i < acordes.length; i++) {
			acordes[i].pause();
			acordes[i].currentTime = 0;
		}
	}

	function levantarOsBotoes(){
		if (tocando > -1)
			document.getElementsByClassName('pressionado')[0].classList.toggle('pressionado', false);
	}
</script>